[*.cs]

# Fahrenheit prefers block-bodied everything
csharp_style_expression_bodied_constructors = false
csharp_style_expression_bodied_methods = false
csharp_style_expression_bodied_operators = false
csharp_style_expression_bodied_properties = false
csharp_style_expression_bodied_indexers = false
csharp_style_expression_bodied_accessors = false
csharp_style_expression_bodied_lambdas = false
csharp_style_expression_bodied_local_functions = false

# K&R style braces, for Evelyn
csharp_new_line_before_open_brace = none

# Do not fuck up vertical alignment during Code Cleanup.
csharp_space_around_declaration_statements = ignore

# CS8981: The type name only contains lower-cased ascii characters. Such names may become reserved for the language.
dotnet_diagnostic.CS8981.severity = suggestion

# IDE0071: Interpolation can be simplified.
dotnet_diagnostic.IDE0071.severity = silent

# Snake case - Fahrenheit naming group
dotnet_naming_symbols.public_symbols.applicable_kinds           = property,method,field,event
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public

# Snake case - Fahrenheit naming style
dotnet_naming_style.snake_case.capitalization = all_lower
dotnet_naming_style.snake_case.word_separator = _

# Snake case - Fahrenheit naming rule
dotnet_naming_rule.fh_naming.symbols  = public_symbols
dotnet_naming_rule.fh_naming.style    = snake_case
dotnet_naming_rule.fh_naming.severity = warning

# Exempt any global using file from Code Cleanup
# v. https://github.com/dotnet/roslyn/issues/3705#issuecomment-570687450

[*typedefs.cs]
generated_code = true

[*.g.cs]
generated_code = true