[submodule "mods/template"]
	path = mods/template
	url = https://github.com/peppy-enterprises/fh-mods-template
[submodule "mods/csr"]
	path = mods/csr
	url = https://github.com/peppy-enterprises/fh-mods-csr
[submodule "mods/dbg"]
	path = mods/dbg
	url = https://github.com/peppy-enterprises/fh-mods-debug
[submodule "mods/truerng"]
	path = mods/truerng
	url = https://github.com/peppy-enterprises/fh-mods-truerng
[submodule "mods/efp"]
	path = mods/efp
	url = https://github.com/peppy-enterprises/fh-mods-efp
[submodule "tools/dedit"]
	path = tools/dedit
	url = https://github.com/peppy-enterprises/fh-tools-dedit
[submodule "tools/h2cs"]
	path = tools/h2cs
	url = https://github.com/peppy-enterprises/fh-tools-h2cs
[submodule "tools/step"]
	path = tools/step
	url = https://github.com/peppy-enterprises/fh-tools-step
[submodule "tools/atelier"]
	path = tools/atelier
	url = https://github.com/peppy-enterprises/fh-tools-atelier
