[submodule "mods/template"]
	path = mods/template
	url = https://github.com/peppy-enterprises/fh-mods-template
[submodule "mods/csr"]
	path = mods/csr
	url = https://github.com/peppy-enterprises/fh-mods-csr
[submodule "mods/dbg"]
	path = mods/dbg
	url = https://github.com/peppy-enterprises/fh-mods-debug
[submodule "mods/truerng"]
	path = mods/truerng
	url = https://github.com/peppy-enterprises/fh-mods-truerng
[submodule "mods/efp"]
	path = mods/efp
	url = https://github.com/peppy-enterprises/fh-mods-efp
[submodule "tools/dedit"]
	path = core/dedit
	url = https://github.com/peppy-enterprises/fh-tools-dedit
[submodule "tools/step"]
	path = core/step
	url = https://github.com/peppy-enterprises/fh-tools-step
[submodule "tools/atelier"]
	path = core/atelier
	url = https://github.com/peppy-enterprises/fh-tools-atelier
[submodule "tools/inspector"]
	path = core/inspector
	url = https://github.com/peppy-enterprises/fh-tools-inspector
[submodule "tools/eedit"]
	path = core/eedit
	url = https://github.com/peppy-enterprises/fh-tools-eedit
